body{
    margin: 0;
    background-color: pink;
    /* text-align: center; */
}


h1{
    color: red;
    text-indent: 30px;
    text-transform: uppercase;
    text-align: center;
}

h2{
    padding-top: 10px;
    padding-left: 100px;

}

p{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

img{
    padding-top: 10px;
    padding-left: 400px;
    padding-right: 10px;
    padding-bottom: 20px;
}

figcaption{
    padding-left: 500px;
    padding-right: 300px;
    padding-bottom: 10px;
}

.column {
    float: left;
    width: 12%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
/* <figcaption>
Qualitative comparison of our approach with other methods for small object localization on the validation split of xView3 dataset. (red: non-vessel, green: fishing vessel, 
blue: {non-fishing vessel). Red circles represent false detections or misclassifications by the model.
</figcaption> */